.header4 {
    font-family: Poppins;
    font-size: 14px;
    color: #5863F8;
}
header {
    width: 1088px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
}.h2{
    width: 331px;
    font-family: Poppins;
    font-size: 42px;
}
textarea::placeholder {
    margin-top: 10px;
    font-family: Poppins;
    font-size: 13px;
}   
textarea {
    padding: 10px;
    width:  720px;
    height: 100%;
    background-color: #F8F8F8;
    outline: none;
    resize: none;
    border: none;
}
section {

}
input {
    width: 352px;
    height: 60px;
    background-color: #5863F8;
    border: none;
}

.div {
    /* height: 288px; */
    display: flex;
    flex-direction: column;
}
.divsec {
    width: 1088px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.dflex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.disc{
    width: 288px;
}
input:not(:last-child) {
    margin-bottom: 16px;
    background-color: #F8F8F8;
    outline: none;
}
input[type=submit] {
    cursor: pointer;
  }
input[type=submit]:hover {
    background-color: #45a049;
  }
.divback {
    width: 59px;
    height: 58px;
    background-color: #5863F8;
    border-radius: 50%;
}   
.imagel {
    margin-left: 20px;
    margin-top: 20px;
}  
h5 {
    font-family: Poppins;
    font-size: 14px;
    margin-top: 5px;
    color: #B1B1B1;
}
.h4h {
    font-family: Poppins;
    font-size: 18px;
}
.divth {
    width: 1300px;
}
.h2d {
    width: 475px;
    font-size: 46px;
}
.spacearound {
    justify-content: space-around;
}
footer{
    margin-top: 3px;
}
.fodiv {
    width: 100%;
    height: 395px;
    background-color: #121212;

}
h3{
    font-family: Poppins;
    font-size: 24px;  
    color: white;
    margin-bottom: 10px;
}
h6{
    color: #B1B1B1;
    width: 260px;
    font-size: 14px; 
    margin-bottom: 15px;
}
li {
    font-family: Poppins;
    font-size: 14px; 
    margin-bottom: 8px;
    color: #5863F8;

}
.li1 {
    color: white;
    font-size: 18px;
}
.divmargin1 {
    margin-left: 50px;
}
.divmargi {
    padding-top: 50px;
}
.mr {
    margin-right: 200px;
}
.mr1 {
    margin-right: 100px;
}
.li11 {
    margin-left: 17px;
}